.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

 .caption-full{
    padding: 9px;
}
.delete-from{
    display: inline;
}
.contained-form{
    max-width: 40%;
    display: center;
}
#map {
    height: 400px;
    width: 100%;
}
 